<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coordinate Converter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        body {
            background: linear-gradient(90deg, rgb(64, 87, 107) 0%, rgb(79, 112, 146) 50%, rgb(64, 87, 107) 100%);
        }
        .mb-0 , .mt-0 , #result {
            color:beige;
            font-weight: 800;

        }
        .form-group {
            color:beige;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-0"><img src="{{ url_for('static', filename='favicon.png') }}" width="100" height="100"></h1>
        <h1 class="text-center mb-0">좌표계 변환</h1>
        <h3 class="text-center mt-0">Coordinate Converter</h3>
        <form id="coordinate-form" class="mt-4">
            <div class="form-group">
                <label for="input-coordinate-system">입력 좌표계 종류 (예 > 900913) </label>
                <select class="form-control" id="input-coordinate-system" required>
                    <option value="900913">EPSG:900913</option>
                    <option value="4326">EPSG:4326</option>
                    <option value="3857">EPSG:3857</option>
                    <option value="32632">EPSG:32632</option>
                    <option value="27700">EPSG:27700</option>
                </select>
            </div>
            <div class="form-group">
                <label for="input-x-coordinate">입력 좌표계 X 값</label>
                <input type="text" class="form-control" id="input-x-coordinate" oninput="validateInput(event)" required>
            </div>
            <div class="form-group">
                <label for="input-y-coordinate">입력 좌표계 Y 값</label>
                <input type="text" class="form-control" id="input-y-coordinate" oninput="validateInput(event)" required>
            </div>
            <div class="form-group">
                <label for="output-coordinate-system">출력 좌표계 종류 (예 > 4326)</label>
                <select class="form-control" id="output-coordinate-system" required>
                    <option value="900913">EPSG:900913</option>
                    <option value="4326">EPSG:4326</option>
                    <option value="3857">EPSG:3857</option>
                    <option value="32632">EPSG:32632</option>
                    <option value="27700">EPSG:27700</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Convert</button>
        </form>
        <div class="text-center mt-4" id="result">
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $("#coordinate-form").on("submit", function(event) {
                event.preventDefault();

                let inputData = {
                    input_coordinate_system: $("#input-coordinate-system").val(),
                    input_x_coordinate: $("#input-x-coordinate").val(),
                    input_y_coordinate: $("#input-y-coordinate").val(),
                    output_coordinate_system: $("#output-coordinate-system").val()
                };

                $.ajax({
                    url: '/trans',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(inputData),
                    success: function(response) {
                        $("#result").html(`<p>변환된 X 좌표 (Longitude): ${response.new_x}</p><p>변환된 Y 좌표 (Latitude): ${response.new_y}</p>`);
                    },
                    error: function(error) {
                        console.log(error);
                        $("#result").html(`<p>An error occurred. Please check your inputs and try again.</p>`);
                    }
                });
            });
        });

        function validateInput(event) {
            const regex = /[^0-9.]/g;
            event.target.value = event.target.value.replace(regex, '');
            
            // 소수점이 2개 이상 입력되면, 두 번째 소수점부터 모두 제거
            const dotIndex = event.target.value.indexOf('.');
            if (dotIndex !== -1) {
                event.target.value = event.target.value.substring(0, dotIndex + 1) + event.target.value.substring(dotIndex + 1).replace(/\./g, '');
            }
        }
    </script>
</body>
</html>